o{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container bg-light shadow-md p-5 form-layout">
        <h3> Updated Assets </h3>

        <h6> Update your asset down below.</h6>
        
        <hr>
       
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            {% comment %} <div class="row"> {% endcomment %}
                <div class="row">
                    <label for="asset_no">รหัสทรัพย์สิน*</label>
                    <input value="{{asset.asset_no}}" required name="asset_no" type="text" class="form-control mt-2" aria-label="Asset No">
                </div>
                <div class="row">
                    <label class="mt-2" for="asset_name">ชื่อทรัพย์สิน</label>
                  <input value="{{asset.asset_name}}" required name="asset_name" type="text" class="form-control mt-2" aria-label="Asset Name">
                </div>
                <div class="row">
                    <label class="mt-2" for="brand">ยี่ห้อ</label>
                  <input value="{{asset.brand}}" required name="brand" type="text" class="form-control mt-2" aria-label="Brand">
                </div>
                <div class="row">
                    <label class="mt-2" for="model">รุ่น</label>
                  <input value="{{asset.model}}" required name="model" type="text" class="form-control mt-2" aria-label="Model">
                </div>
                <div class="row">
                    <label class="mt-2" for="serial_no">Serial Nubmer</label>
                  <input value="{{asset.serial_no}}" required name="serial_no" type="text" class="form-control mt-2" aria-label="Serial Number">
                </div>
                <div class="row">
                    <label class="mt-2" for="department_name">แผนก</label>
                  <input value="{{asset.department_name}}" required name="department_name" type="text" class="form-control mt-2" aria-label="Department">
                </div>
                <div class="row">
                    <label class="mt-2" for="owner_name">ผู้ดูแล</label>
                  <input value="{{asset.owner_name}}" required name="owner_name" type="text" class="form-control mt-2" aria-label="Owner">
                </div>
                <div class="row">
                    <label class="mt-2" for="location">สถานที่</label>
                  <input value="{{asset.location}}" required name="location" type="text" class="form-control mt-2" aria-label="Location">
                </div>
                <div class="row">
                    <label class="mt-2" for="status">สถานะ</label>
                    <select class="form-control mt-2" name="status" aria-label="Status" >
                        {% if asset.status == "InActive" %}
                        <option value="InActive">InActive</option>
                        <option value="Active">Active</option>
                        {% else %}
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                        {% endif %}
                      </select>
                  {% comment %} <input value="{{asset.status}}" required name="status" type="text" class="form-control mt-2" aria-label="Status"> {% endcomment %}
                </div>
                <div class="row">
                    <label class="mt-2" for="remark">หมายเหตุ</label>
                  <input value="{{asset.remark}}" name="remark" type="text" class="form-control mt-2" aria-label="Remark">
                </div>
            {% comment %} </div> {% endcomment %}
            
            {% comment %} <input type="submit" value="บันทึกข้อมูล" class="btn btn-success"> {% endcomment %}

            {% comment %} {{form|crispy}} {% endcomment %}
            <br>
            <button type='submit' class='btn btn-primary w-100 btn-block p-2'> Update </button>

        </form>
        <br>
        <a href="{% url "view-assets" asset.id %}" class='btn btn-secondary w-100 btn-block p-2'> Back </a>
    </div>



</body>


{% endblock content %}
